  .elPolloLoco-technologies {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "Karla";
  font-size: 20px;
  line-height: 21.6px;
}

.elPolloLoco-technologies span {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease, color 0.3s ease;
}

.elPolloLoco-technologies span:hover {
  transform: scale(1.1);
  color: #3dcfb6;
}