<section>
  <nav>
    <div class="nav-container">
      <div class="toggle-button">
        <input
          id="language-toggle"
          class="check-toggle check-toggle-round-flat"
          type="checkbox"
        />
        <label for="language-toggle"></label>
        <span class="on fira-code">EN</span>
        <span class="off fira-code">DE</span>
      </div>
      <div class="nav-item">
        <a href="#about-me">About me</a>
        <app-svg-icon iconName="radio-button"></app-svg-icon>
      </div>
      <div class="nav-item">
        <a href="#skills">Skills</a>
        <app-svg-icon iconName="radio-button"></app-svg-icon>
      </div>
      <div class="nav-item">
        <a href="#projects">Projects</a>
        <app-svg-icon iconName="radio-button"></app-svg-icon>
      </div>
    </div>
    <div class="logo">
      <img src="assets/logo.png" alt="Logo">
    </div>
  </nav>
</section>

