@mixin flexbox($justify: flex-start, $align: stretch, $gap: 0) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

section {
  width: 100%;
  max-width: 100vw;

  nav {
    background: linear-gradient(to bottom, #00000090, #00000005);
    padding: 20px 96px;
    @include flexbox(space-between, center);
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;

    .nav-container {
      @include flexbox(flex-start, center, 20px);
    
    
    .nav-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10px; 
    }
    
      

      a {
        font-family: "FiraCode", sans-serif;
        font-size: 20px;
        letter-spacing: 3px;
        text-decoration: none;
        color: #ffffff;
        font-weight: 200;
        transition: color 0.3s;

        &:hover {
          color: #3dcfb6;
        }
      }

      app-svg-icon {
        opacity: 0;
        transform: translateY(-5px);
        transition: opacity 0.3s, transform 0.3s;
        height: 10px;
      }

      .nav-item:hover app-svg-icon {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .logo {
      img {
        height: 50px;
        width: auto;
      }
    }
  }
}

.toggle-button {
  position: relative;
  display: inline-block;
  margin: 0 5px;
}

.toggle-button > span {
  position: absolute;
  top: 6px;
  pointer-events: none;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  width: 50%;
  text-align: center;
}

input.check-toggle-round-flat:checked ~ .off {
  color: rgba(255, 255, 255, 1);
}

input.check-toggle-round-flat:checked ~ .on {
  color: rgba(61, 207, 182, 0.5);
}

.toggle-button > span.on {
  left: 0;
  padding-left: 2px;
  color: rgba(255, 255, 255, 1);
}

.toggle-button > span.off {
  right: 0;
  padding-right: 4px;
  color: rgba(61, 207, 182, 0.5);
}

.check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.check-toggle-round-flat + label {
  padding: 15px;
  width: 84px;
  height: 28px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:before,
input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check-toggle-round-flat + label:before {
  top: 3px;
  left: 3px;
  bottom: 3px;
  right: 3px;
  border: 1px solid rgba(61, 207, 182, 1);
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 42px;
  background-color: rgba(61, 207, 182, 1);
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}

input.check-toggle-round-flat:checked + label:after {
  margin-left: 38px;
}
