.join-technologies {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "Karla";
  font-size: 20px;
  line-height: 21.6px;
}

.join-technologies span {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease, color 0.3s ease;
}

.join-technologies span:hover {
  transform: scale(1.1);
  color: #3dcfb6;
}
.project-container-join {
  cursor: pointer;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  position: relative;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    background-color: rgba(61, 207, 182, 0.25);

    &::after {
      content: "";
      position: absolute;
      top: 90px;
      left: 980px;
      transform: translateY(-50%);
      width: 300px;
      height: 300px;
      background: url("./../../../../assets/svg/join-project.svg") no-repeat center center;
      background-size: contain;
      opacity: 1; 
      transition: opacity 0.4s ease; 
    }
  }


  &:hover h3::after {
    content: "";
    position: absolute;
    top: 60px;
    left: 120px;
    transform: translateY(-50%);
    width: 13px;
    height: 13px;
    background: url("./../../../../assets/svg/arrow-outward.svg") no-repeat center center;
    background-size: contain;
  }
}
