<!-- projects.component.html -->
<section>
  <div class="projects">
    <div class="title">
      <h3>Portfolio</h3>
      <h2>Featured Projects</h2>
    </div>
    <p class="project-explaination">
      Explore a selection of my work here - interact with projects to see my skills in action.
    </p>

    <div class="projects">
      <div class="separator"></div>
    

      <div *ngFor="let project of projects; let i = index">
        <div class="project-container" (click)="openModal(project, i)">
          <header class="project-header">
            <h3 class="project-name">{{ project.name }}</h3>
            <div>
              <p *ngFor="let tech of project.technologies">{{ tech }}</p>
            </div>
          </header>
          <ng-container *ngComponentOutlet="project.component"></ng-container>
        </div>
        <div class="separator"></div>
      </div>

  
<div></div>
     
      <app-modal
        *ngIf="selectedProject"
        [project]="selectedProject"
        [projectIndex]="selectedProjectIndex"
        (nextProjectEvent)="nextProject()"
        (closeModalEvent)="closeModal()"
      ></app-modal>
    </div>
  </div>
</section>



