<section>
  <div class="projects">
    <div class="title">
      <h3 class="title-text">Portfolio</h3>
      <h2 class="title-underline">Featured Projects</h2>
    </div>
    <p class="title-explaination">
      Explore a selection of my work here - interact with projects to see my skills in action.
    </p>

    <div>
      <div class="separator"></div>
    

      <div *ngFor="let project of projects; let i = index">
        <div class="project-container" (click)="openModal(project, i)">
          <header class="project-header">
            <h3 class="project-name">{{ project.name }}</h3>
          </header>
          <ng-container *ngComponentOutlet="project.component"></ng-container>
        </div>
        <div class="separator"></div>
      </div>

      <app-modal
        *ngIf="selectedProject"
        [project]="selectedProject"
        [projectIndex]="selectedProjectIndex"
        (nextProjectEvent)="nextProject()"
        (closeModalEvent)="closeModal()"
      ></app-modal>
    </div>
  </div>
</section>



