.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.carousel-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 80%;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: green;
  color: white;
  opacity: 0; 
  transform: translateX(100%); 
  transition: transform 0.5s ease, opacity 0.5s ease;
  position: absolute; 
  width: 30%; 
  text-align: center;
}

.carousel-container.front {
  opacity: 1;
  transform: translateX(0); 
  z-index: 10; /* Vordergrund */
}

.carousel-container.left {
  opacity: 0.5;
  transform: translateX(-50%);
  z-index: 5;
}

.carousel-container.right {
  opacity: 0.5;
  transform: translateX(50%); 
  z-index: 5;
}

button {
  background: transparent;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  z-index: 15;
}
