.separator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 10px 0;
}

.line {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 2px;
  height: 150px;
}

.left {
  width: 2px;
  background-color: #3dcfb6;
  height: 240px;
  position: relative;
  top: 350px;
  right: 500px;
}

.right {
  width: 2px;
  background-color: #FFFFFF;
  height: 185px;
  position: relative;
  left: 700px;
  top: 632px;
}

button {
  width: 30px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #3dcfb6;
  border-radius: 50px;
  background: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  bottom: 70px;
}

button:hover {
  background: #3dcfb6;
}

button:hover app-svg-icon {
  fill: white;
}

app-svg-icon {
  height: 19px;
  width: 19px;
  animation: moveArrowY 1s ease-in-out infinite;
  transition: transform 0.2s ease-in-out;
}

app-svg-icon:hover {
  transform: scale(1.1);
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.email {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  position: relative;
  top: 300px;
  left: 692px;
  display: inline-block;
  transform: rotate(-90deg);
  transform-origin: left top;
  white-space: nowrap;
  transition: color 0.2s ease-in-out, filter 0.2s ease-in-out;
  &:hover {
    color: #3dcfb6;
    filter: drop-shadow(0 0 5px #3dcfb6);
  }
}

@keyframes moveArrowY {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}


