<div class="line right"></div>

<a class="email" href="mailto:tariksabanovic@mail.de">
  tariksabanovic&#64;mail.de
</a>

<a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer">
  <app-svg-icon iconName="linkedin-icon"></app-svg-icon>
</a>

<a href="https://github.com/" target="_blank" rel="noopener noreferrer">
  <app-svg-icon iconName="github-icon"  data-tooltip="GitHub">></app-svg-icon>
</a>

<div class="line left">
  <button>
    <app-svg-icon iconName="arrow-down"></app-svg-icon>
  </button>
</div>
