

<section>
    <div>
      <div>
        <app-svg-icon iconName="photo-background"></app-svg-icon>
   
        <img src="" alt="logo" />
      </div>
  
      <div>
        <div>
          <h3>Who I Am</h3>
        </div>
  
        <div class="about-me-container">
          <h2>About Me</h2>
          <div>
            <p class="text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Reprehenderit quia, esse molestias cumque dolores quidem quaerat hic
              ducimus adipisci in ipsa odio eaque velit distinctio, impedit
              explicabo, deleniti asperiores commodi!
            </p>
            <div class="explanation">
              <div>
                <app-svg-icon iconName="location-icon"></app-svg-icon>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit
                  pariatur dolorum, temporibus quaerat ipsum odio illum placeat
                  tempore distinctio, architecto tempora eveniet nam perspiciatis
                  aspernatur enim tenetur eius repellendus quasi.
                </p>
              </div>
  
              <div>
                <app-svg-icon iconName="cognition-icon"></app-svg-icon>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit
                  pariatur dolorum, temporibus quaerat ipsum odio illum placeat
                  tempore distinctio, architecto tempora eveniet nam perspiciatis
                  aspernatur enim tenetur eius repellendus quasi.
                </p>
              </div>
  
              <div>
                <app-svg-icon iconName="new-release-icon"></app-svg-icon>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit
                  pariatur dolorum, temporibus quaerat ipsum odio illum placeat
                  tempore distinctio, architecto tempora eveniet nam perspiciatis
                  aspernatur enim tenetur eius repellendus quasi.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  