<section>
  <div>
    <div>
      <app-svg-icon iconName="photo-background"></app-svg-icon>

      <img src="" alt="logo" />
    </div>

    <div>
      <div>
        <h3>Who I Am</h3>
      </div>

      <div class="about-me-container">
        <h2>About Me</h2>
        <div>
          <p class="text">
            Hey there, I'm Tarik! My passion for coding stems from my enthusiasm
            for logical thinking and creative problem-solving. I am particularly
            fascinated by the intersection of development and security because I
            want to not only build software but also protect it from attacks.
          </p>
          <div class="explanation">
            <div>
              <a href="https://maps.app.goo.gl/58XEsDJ63HHtVyVx8">
                <app-svg-icon iconName="location-icon"></app-svg-icon>
              </a>

              <p>
                I'm currently based in Frankfurt am Main but fully open to
                remote opportunities.
              </p>
            </div>

            <div>
              <app-svg-icon iconName="cognition-icon"></app-svg-icon>
              <p>
                Tech is always evolving, and I adapt with it. Learning new
                skills and improving every day is what keeps me motivated.
              </p>
            </div>

            <div>
              <app-svg-icon iconName="new-release-icon"></app-svg-icon>
              <p>
                My problem-solving approach is based on analytical thinking,
                creativity, and persistence. I break down challenges into
                manageable parts, explore multiple solutions, and focus on
                finding the most efficient and elegant one. I also value
                collaboration, as working with others often leads to better
                insights and ideas.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
