html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: sans-serif;
}

* {
  box-sizing: inherit; 
  overflow: auto;
}