html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  width: 100%;
  height: 900px;
  overflow-x: hidden; 
  font-family: sans-serif;
  background: url("./assets/svg/home-background.svg") center/cover no-repeat;
}

* {
  box-sizing: inherit;
  margin: 0;
}


/* karla-regular - latin */
@font-face {
  font-display: swap; 
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/font/karla-v31-latin-regular.woff2') format('woff2'); 
}

/* fira-code-regular - latin */
@font-face {
  font-display: swap; 
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/font/fira-code-v22-latin-regular.woff2') format('woff2');
}