section {
  height: 900px;
  background: url("./../../../assets/svg/skill-set-background.svg") no-repeat
    center center/cover;
  color: white;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.about-me-container,
.technologies {
  flex: 1;
  max-width: 48%;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  height: clamp(35rem, 40vw, 56rem);
  width: clamp(35rem, 30vw, 57rem);
  background-color: #3dcfb61a;
  border: 1px solid #3dcfb6;
  border-radius: 30px;
  padding: 2rem;
}

.technologies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 600px;
  text-align: center;
}

.technologies > app-svg-icon {
  cursor: pointer;
  position: relative;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.technologies > app-svg-icon:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.technologies > app-svg-icon:hover::before {
  content: attr(iconName);
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.technologies > app-svg-icon:hover::before {
  opacity: 1;
}

.technologies > app-svg-icon:nth-child(9),
.technologies > app-svg-icon:nth-child(10),
.technologies > app-svg-icon:nth-child(11) {
  grid-column: span 1;
}

body {
  transition: background-color 0.3s ease;
}

.technologies app-svg-icon[iconName="html-icon"]:hover {
  background-color: #e34f26;
}
.technologies app-svg-icon[iconName="css-icon"]:hover {
  background-color: #1572b6;
}
.technologies app-svg-icon[iconName="javascript-icon"]:hover {
  background-color: #f7df1e;
}
.technologies app-svg-icon[iconName="typescript-icon"]:hover {
  background-color: #3178c6;
}
.technologies app-svg-icon[iconName="angular-icon"]:hover {
  background-color: #dd0031;
}
.technologies app-svg-icon[iconName="firebase-icon"]:hover {
  background-color: #ffca28;
}
.technologies app-svg-icon[iconName="git-icon"]:hover {
  background-color: #f05032;
}
.technologies app-svg-icon[iconName="rest-api-icon"]:hover {
  background-color: #2c3e50;
}
.technologies app-svg-icon[iconName="scrum-icon"]:hover {
  background-color: #5a9;
}
.technologies app-svg-icon[iconName="growth-mindset-icon"]:hover {
  background-color: #6c757d;
}
