section {
  height: auto;
  min-height: 700px;
  background: url("./../../../assets/svg/skill-set-background.svg") no-repeat center center/cover;
  color: white;
  width: 100%;
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.skill-set-container {
  display: flex;
  flex-direction: column;
  width: clamp(18rem, 45vw, 30rem);
  min-height: 30rem;
  height: auto;
  background-color: rgba(61, 207, 182, 0.1);
  border: 1px solid #3dcfb6;
  border-radius: 20px;
  padding: clamp(0.8rem, 1.5vw, 1.5rem);
  margin: 2rem 5rem 0 0;
  display: flex;

 
}

.technologies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 600px;
  text-align: center;
  display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
    width: 100%;
    height: 100%;
    max-height: 500px;
    flex-wrap: wrap;
    gap: 5.5rem;
    margin: 3rem 0 0 0;
}


  h2 {
    font-size: clamp(3.5rem, 3vw, 3.5rem);
    font-weight: 800;
    color: #3dcfb6;
    font-family: "Fira Code";
    text-align: left;
    letter-spacing: -4px;
    margin: 0 0 1.09rem 0;
  }


h3 {
  font-size: clamp(1rem, 1.5vw, 2rem);
  font-weight: 800;
  color: #3dcfb6;
  font-family: "Karla";
  text-align: left;
  margin: 0 0 1rem 0;
}

  .text {
    font-size: clamp(1rem, 1vw, 1.2rem);
    line-height: 1.5;
    font-family: "Karla";
    font-weight: 400;
    color: #FFFFFF;
    text-align: justify;
    padding: 15px 0;
    letter-spacing: 0px;
  }

  .explanation {
    display: flex;
    flex-direction: column;
    gap: clamp(0.8rem, 1.5vw, 1.2rem);

    div {
      display: flex;
      gap: clamp(0.4rem, 1vw, 1.5rem);
    }



    .anotherSkill-text {
      font-size: clamp(1.3rem, 1vw, 1.1rem);
      font-family: "Fira Code";
      font-weight: 800;
      line-height: 1.3;
      margin: 1rem 0 0rem 0;
    }    

    .green-text {
      color: #3dcfb6;
    }

    .anotherSkillsub-text {
      font-size: clamp(1rem, 1vw, 1.1rem);
      font-weight: 400;
      font-family: "Karla";
      width: 300px;
      font-weight: 400;
      line-height: 1.3;
    }
  }

  .btn {
   margin: 1rem 0 0 0;

  
    button {
      border: 1px solid #ffffff;
      background: transparent;
      height: 50px;
      padding: 0.75rem 2rem;
      font-size: clamp(1rem, 1.125vw, 1.5rem);
      font-weight: 400;
      color: white;
      font-family: "Karla";
      cursor: pointer;
      border-radius: 100px;
      transition: 0.3s ease-in-out;
  
      &:hover {
        transform: scale(1.05);
      }
    }
  }

.technologies > app-svg-icon {
  cursor: pointer;
  position: relative;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.technologies > app-svg-icon:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateY(-5px) scale(1.1);  
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3); 
}

.technologies > app-svg-icon:hover::before {
  content: attr(tooltip);
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.technologies app-svg-icon[iconName="html-icon"]:hover {
  background-color: #e34f26;
}

.technologies app-svg-icon[iconName="css-icon"]:hover {
  background-color: #1572b6;
}

.technologies app-svg-icon[iconName="javascript-icon"]:hover {
  background-color: #f7df1e;
}

.technologies app-svg-icon[iconName="typescript-icon"]:hover {
  background-color: #3178c6;
}

.technologies app-svg-icon[iconName="angular-icon"]:hover {
  background-color: #dd0031;
}

.technologies app-svg-icon[iconName="firebase-icon"]:hover {
  background-color: #ffca28;
}

.technologies app-svg-icon[iconName="git-icon"]:hover {
  background-color: #f05032;
}

.technologies app-svg-icon[iconName="rest-api-icon"]:hover {
  background-color: #2c3e50;
}

.technologies app-svg-icon[iconName="scrum-icon"]:hover {
  background-color: #0fdebc;
}
.growth-mindset {
  grid-column: span 4;
  text-align: center;
  position: relative;
}

.growth-mindset app-svg-icon {
  display: inline-block;
  padding: 15px;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 1rem;
  cursor: pointer;
}

.growth-mindset app-svg-icon:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateY(-5px) scale(1.1);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
}

.growth-mindset .tooltip2 {
  display: none;
  opacity: 0; 
  transition: opacity 0.3s ease; 
  cursor: pointer;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 10px;
  border-radius: 6px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  z-index: 10;
  border-radius: 1rem;
}

.growth-mindset:hover .tooltip2, 
.growth-mindset:focus-within .tooltip2 {
  display: flex;
  opacity: 1; 
}

.growth-mindset .tooltip2 .tooltip-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.growth-mindset .tooltip2 app-svg-icon {
  padding: 8px;
  border-radius: 6px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.growth-mindset .tooltip2 app-svg-icon:hover {
  background-color: #000000;
  transform: translateY(-5px) scale(1.1);
}

.growth-mindset .tooltip2 p {
  margin-top: 5px;
  font-size: 14px;
  color: #333;
  font-family: "Karla";
  font-weight: 500;
  text-align: center;
  &:hover {
    color: #0fdebc;
    transition: color 0.3s ease;
  }
}
