<section>
  <div>
    <div>
      <h3>{{ title }}</h3>
    </div>

    <div class="about-me-container">
      <h2>{{ subtitle }}</h2>
      <div>
        <p class="text">{{ skillSetText }}</p>
        <div class="explanation">
          <div>

            <p>{{ anotherSkill }}</p>
          </div>

          <div>

            <p>{{ anotherSkillsub }}</p>
          </div>

          <div>
            <button>Let's talk</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="technologies">
    <app-svg-icon iconName="html-icon" tooltip="HTML5"></app-svg-icon>
    <app-svg-icon iconName="css-icon" tooltip="CSS3"></app-svg-icon>
    <app-svg-icon iconName="javascript-icon" tooltip="JavaScript"></app-svg-icon>
    <app-svg-icon iconName="material-design-icon" tooltip="Material Design"></app-svg-icon>
    
    <app-svg-icon iconName="typescript-icon" tooltip="TypeScript"></app-svg-icon>
    <app-svg-icon iconName="angular-icon" tooltip="Angular"></app-svg-icon>
    <app-svg-icon iconName="firebase-icon" tooltip="Firebase"></app-svg-icon>
    <app-svg-icon iconName="git-icon" tooltip="GIT"></app-svg-icon>
  
    <app-svg-icon iconName="rest-api-icon" tooltip="Rest-API"></app-svg-icon>
    <app-svg-icon iconName="scrum-icon" tooltip="Scrum"></app-svg-icon>
  
    <div class="growth-mindset">
      <app-svg-icon iconName="growth-mindset-icon"></app-svg-icon>
      <div class="tooltip2">
        <app-svg-icon iconName="cyberSecurity-icon"></app-svg-icon>
        <app-svg-icon iconName="react-icon"></app-svg-icon>
        <app-svg-icon iconName="vue-js_icon"></app-svg-icon>
      </div>
    </div>
    
    
    

  </div>
  
  


</section>