<section>
    <div class="about-me-container">
    <h2>About Me</h2>
    <div>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Reprehenderit quia, esse molestias cumque dolores quidem quaerat hic
        ducimus adipisci in ipsa odio eaque velit distinctio, impedit
        explicabo, deleniti asperiores commodi!
      </p>
      <div class="explanation">
        <div>
          <app-svg-icon iconName="location-icon"></app-svg-icon>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit
            pariatur dolorum, temporibus quaerat ipsum odio illum placeat
            tempore distinctio, architecto tempora eveniet nam perspiciatis
            aspernatur enim tenetur eius repellendus quasi.
          </p>
        </div>

        <div>
          <app-svg-icon iconName="cognition-icon"></app-svg-icon>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit
            pariatur dolorum, temporibus quaerat ipsum odio illum placeat
            tempore distinctio, architecto tempora eveniet nam perspiciatis
            aspernatur enim tenetur eius repellendus quasi.
          </p>
        </div>

        <div>
          <app-svg-icon iconName="new-release-icon"></app-svg-icon>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit
            pariatur dolorum, temporibus quaerat ipsum odio illum placeat
            tempore distinctio, architecto tempora eveniet nam perspiciatis
            aspernatur enim tenetur eius repellendus quasi.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="technologies">
    
    <app-svg-icon iconName="html-icon"></app-svg-icon>
    <app-svg-icon iconName="css-icon"></app-svg-icon>
    <app-svg-icon iconName="javascript-icon"></app-svg-icon>
    <app-svg-icon iconName="material-design-icon"></app-svg-icon>


    <app-svg-icon iconName="typescript-icon"></app-svg-icon>
    <app-svg-icon iconName="angular-icon"></app-svg-icon>
    <app-svg-icon iconName="firebase-icon"></app-svg-icon>
    <app-svg-icon iconName="git-icon"></app-svg-icon>



    <app-svg-icon iconName="rest-api-icon"></app-svg-icon>
    <app-svg-icon iconName="scrum-icon"></app-svg-icon>
    <app-svg-icon iconName="growth-mindset-icon"></app-svg-icon>

  </div>
</section>
