<section>
    <div class="info-container">
        <img src="" alt="logo">
        <p>Web Developer</p>
        <p>Frankfurt am Main Germany</p>
    </div>
    <h2>&copy; Tarik Sabanovic {{ currentYear }} </h2>
    <div class="socials">
        <div class="social-item">
          <a href="">Github</a>
          <app-svg-icon iconName="radio-button"></app-svg-icon>
        </div>
        <div class="social-item">
          <a href="">LinkedIn</a>
          <app-svg-icon iconName="radio-button"></app-svg-icon>
        </div>
        <div class="social-item">
          <a href="">Email</a>
          <app-svg-icon iconName="radio-button"></app-svg-icon>
        </div>
        <div class="social-item">
          <a href="">Legal Notice</a>
          <app-svg-icon iconName="radio-button"></app-svg-icon>
        </div>
      </div>
      
</section>